# IC 4.10 Crosstabs Testing

## This Script contains the following

### 1. Creating a Crosstab
### 2. Using Excel to Edit Python Text

In [1]:
# Import Libraries

import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Set Path

path = r'C:\Users\Josh Wattay\anaconda3\Instacart Basket Analysis'

In [3]:
# Import Data

insta_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'insta_merge.pkl'))

In [4]:
# Check output

insta_merge.head()

,order_id,user_id,order_number,orders_day_of_week,orders_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,median_days_btwn_orders,order_frequency_flag,Gender,State,Age,date_joined,n_dependants,marital_status,income,merge_ind
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both

### 1. Creating a Crosstab

In [9]:
# Change Days Since Prior Order column datatype to Int16Dtype to ensure its compatible with crosstab function

insta_merge['days_since_prior_order'] = insta_merge['days_since_prior_order'].astype(pd.Int16Dtype())

In [10]:
print(insta_merge.index)

RangeIndex(start=0, stop=32404859, step=1)

In [11]:
insta_merge.reset_index(inplace=True)

In [12]:
# Create a Crosstab to Inspect Days since prior order and Order number - this will let us see whether or not all order numbers are 1 for NaN values in days since prior order

crosstab = pd.crosstab(insta_merge['days_since_prior_order'], insta_merge['order_number'], dropna = False)

In [13]:
# Copy crosstab to clipboard for pasting into excel

crosstab.to_clipboard()

### 2. Using Excel to Edit Python Text

In [16]:
insta_merge.columns

Index(['index', 'order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'orders_time_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', '_merge', 'price_range_loc', 'busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'average_purchase_cost', 'spending_flag', 'median_days_btwn_orders',
       'order_frequency_flag', 'Gender', 'State', 'Age', 'date_joined',
       'n_dependants', 'marital_status', 'income', 'merge_ind'],
      dtype='object')