## Merging Instacart Data Sets

### This script contains the following points:

#### 1. Importing New df_ords_prior Data Set as new Dataframe
#### 2. Check Dimensions of the Imported Dataframe
#### 3. Merging df_ords_prior with the df_ords Dataframe
#### 4. Export Merged Data as Pickle .pkl
#### 5. Task Exercise 4.6 - Steps 3 and 4
#### 6. Troubleshooting due to Memory Error

In [1]:
#Import Libraries 
import pandas as pd
import numpy as np
import os

In [2]:
#Set Path
path = r'C:\Users\Josh Wattay\anaconda3\Instacart Basket Analysis'

In [3]:
#Import Datasets
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

#### 1. Importing New df_ords_prior Data Set as new Dataframe

In [12]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [13]:
#Check output

df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour,days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [14]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

#### 2. Check Dimensions of the Imported Dataframe

In [15]:
#Shape Checks

df_ords_prior.shape

(32434489, 4)

In [16]:
df_ords.shape

(3421083, 8)

#### 3. Merging df_ords_prior with the df_ords Dataframe

In [17]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [18]:
#Check output

df_merged_large.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [21]:
#Frequency Count of _merge column

df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

#### 4. Export Merged Data as Pickle .pkl

In [22]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

#### 5. Task Exercise 4.6 Steps 3 and 4

In [4]:
#Step 3 import orders_products_combined dataset from pkl file

df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [5]:
#Step 4 - Shape check

df_orders_products_combined.shape

(32434489, 12)

In [6]:
#Step 5 - Merge df_orders_products_combined with df_prods
#Importing df_prods clean data set first
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [7]:
#Check output and analyze suitable way to merge with combined data

df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
df_prods.shape

(49672, 6)

In [9]:
df_orders_products_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [10]:
#I initially experienced an error when attempting a full outer merge.
#This was due to my combined orders and products dataframe already having an indicator column, therefore I dropped it and reattempted.

df_orders_products_combined = df_orders_products_combined.drop(columns = '_merge')

In [11]:
df_orders_products_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered
0,0,2539329,1,prior,1,2,8,NaN,196,1,0
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0

#### 6. Troubleshooting Due to Memory Error

In [12]:
#Due to the Memory Error I experienced, I troubleshot using the guide provided by CareerFoundry. 
#Fortunately - Plan A worked for me, and I was able to fee up memory by modifying the data types.
#This can be observed in the Notebook concurrently submitted with this notebook, titled "IC Exercise 4.6 - Josh Wattay".

df_merged_op = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

MemoryError: Unable to allocate 2.17 GiB for an array with shape (9, 32404859) and data type int64