# Exercise 4.6 Steps 5, 6, and 7

## This Script contains the following:

### 1. Troubleshooting Memory Error using Plan A (provided by CareerFoundry)
### 2. Exercise 4.6 Task Step 5 - Merging Data
### 3. Exercise 4.6 Task Step 6 - Confirming Results Using Merge Flag
### 4. Exercise 4.6 Task Step 7 - Exporting New Dataframe in Suitable Format

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# Set path
path = r'C:\Users\Josh Wattay\anaconda3\Instacart Basket Analysis'

### 1. Troubleshooting Memory Error using Plan A (provided by CareerFoundry)

In [3]:
# Import the existing data 

df_ordprod_combo = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [4]:
df_ordprod_combo.drop(columns = 'Unnamed: 0', inplace = True)

In [6]:
df_ordprod_combo.drop(columns = 'eval_set', inplace = True)

In [8]:
df_ordprod_combo.drop(columns = '_merge', inplace = True)

In [11]:
df_ordprod_combo.rename(columns = {'order_hour':'orders_time_of_day'}, inplace = True)

In [15]:
# Change types for df_ordprod_combo data set

df_ordprod_combo['order_id']=df_ordprod_combo['order_id'].astype('int32')
df_ordprod_combo['user_id'] = df_ordprod_combo['user_id'].astype('int32')
df_ordprod_combo['order_number']=df_ordprod_combo['order_number'].astype('int8')
df_ordprod_combo['orders_day_of_week']=df_ordprod_combo['orders_day_of_week'].astype('int8')
df_ordprod_combo['orders_time_of_day']=df_ordprod_combo['orders_time_of_day'].astype('int8')
df_ordprod_combo['days_since_prior_order']=df_ordprod_combo['days_since_prior_order'].astype('float16')

In [16]:
# Check output to see memory usage

df_ordprod_combo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   orders_time_of_day      int8
 5   days_since_prior_order  float16
 6   product_id              int64
 7   add_to_cart_order       int64
 8   reordered               int64
dtypes: float16(1), int32(2), int64(3), int8(3)
memory usage: 1.1 GB

In [17]:
df_ordprod_combo.head()

,order_id,user_id,order_number,orders_day_of_week,orders_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [18]:
df_ordprod_combo['product_id']=df_ordprod_combo['product_id'].astype('int32')
df_ordprod_combo['add_to_cart_order'] = df_ordprod_combo['add_to_cart_order'].astype('int32')
df_ordprod_combo['reordered']=df_ordprod_combo['reordered'].astype('int32')

In [19]:
df_ordprod_combo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   orders_time_of_day      int8
 5   days_since_prior_order  float16
 6   product_id              int32
 7   add_to_cart_order       int32
 8   reordered               int32
dtypes: float16(1), int32(5), int8(3)
memory usage: 773.3 MB

In [20]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [21]:
df_prods.drop(columns = 'Unnamed: 0', inplace = True)

In [22]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [24]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int64
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int64
 3   department_id  49672 non-null  int64
 4   prices         49672 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

### 2. Exercise 4.6 Task Step 5 - Merging Data

In [26]:
df_merged_op = df_ordprod_combo.merge(df_prods, on = 'product_id', indicator = True)

#### Merging this data allows us to not analyze deeper into each order with price, product name, and product category.
#### This will be crucial in finding out additional information about product performance and variance in order price points.

In [31]:
#Check Output

In [27]:
df_merged_op.head()

,order_id,user_id,order_number,orders_day_of_week,orders_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [32]:
#Shape check

In [28]:
df_merged_op.shape

(32404859, 14)

### 3. Exercise 4.6 Step 6 - Confirming Results Using Merge Flag

In [30]:
df_merged_op['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

### 4. Exercise 4.6 Step 7 - Exporting New Dataframe in Suitable Format

In [33]:
df_merged_op.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))